<html>
<head>
    <style>
        h1{
            color: #0000BB;
            text-align: center;
            font-family: cursive;
            font-size: 120px;
            margin-top: 20%;
        }
        body {
            background-color: #868686;
        }
    </style>
</head>
<body>
<h1>     Hello World!               </h1>

</body>

</html>